/* Scrollbar translucide */
.scrollbar-transparent::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-transparent::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.scrollbar-transparent::-webkit-scrollbar-thumb {
  background: rgba(146, 54, 255, 0.3);
  border-radius: 8px;
}

.scrollbar-transparent {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(146, 54, 255, 0.3) rgba(0, 0, 0, 0.1); /* Firefox */
}
